{% extends "overall/block-base.twig" %}

{% block block %}

{% if fields is defined and fields %}
<div class="hero-section">
    <div class="hero-inner">
        <div class="hero-slider">
        {% for radio in fields.radio %}
            <label class="hero-slide-radio" for="{{ radio.role }}"></label>
        {% endfor %}
        {% for radio in fields.radio %}
            <div class="hero-slide">
                <img src="{{ radio.img }}" alt="{{ radio.role }}">
            </div>
        {% endfor %}
            <img class="hero-decor" src="{{ svg_folder }}dec-3.svg" alt="{{ radio.role }}">
        </div>

        <article class="hero-article">
        {% if fields.title is defined and fields.title %}
            <h1 class="hero-title">{{ fields.title|raw }}</h1>
        {% endif %}

        {% if fields.description is defined and fields.description %}
            <p class="hero-description typo">{{ fields.description|raw }}</p>
        {% endif %}

        {% if fields.radio is defined and fields.radio %}
            <div class="hero-actions">
                <span class="thumb"></span>
                {% for radio in fields.radio %}
                <label class="hero-radio" for="{{ radio.role }}">
                    <input type="radio" name="{{ fields.name }}" id="{{ radio.role }}" {% if loop.first %}checked{% endif %}>
                    {{ radio.text }}
                </label>
                {% endfor %}
            </div>
        {% endif %}
        </article>
    </div>
</div>
{% endif %}

{% endblock %}