{% extends "overall/block-base.twig" %}

{% block block %}

    <div class="hero-2-section">
        <div class="hero-2-inner">
            <div class="hero-2-slider">
                {% for slide in fields.slides %}
                    <div class="hero-slide">
                        <img src="{{ slide.img }}" alt="{{ slide.role }}">

                        {% if slide.decor %}
                            <svg class="hero-2-decor">
                                <use href="{{ decor_sprite }}#hero-2_svg"></use>
                            </svg>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <article class="hero-2-article">
                {% if fields.title is defined and fields.title %}
                    <h1 class="hero-title">{{ fields.title|raw }}</h1>
                {% endif %}

                {% if fields.description is defined and fields.description %}
                    <p class="hero-description typo">{{ fields.description|raw }}</p>
                {% endif %}

                {% if fields.slides is defined and fields.slides %}
                    <label class="hero-actions">
                        <input type="checkbox">
                        <span class="thumb"></span>
                        {% for button in fields.slides %}
                            <span class="hero-btn">
                                {{ button.role }}
                            </span>
                        {% endfor %}
                    </label>
                {% endif %}
            </article>
        </div>
    </div>

{% endblock %}