{% extends "overall/block-base.twig" %}

{% block block %}

<div class="hero-section">
    <div class="hero-inner">
        {% if fields.title is defined and fields.title %}
        <article class="hero-article">
            <h1 class="hero-title">
                {{ fields.title|raw }}
            </h1>
            {% endif %}

            {% if fields.description is defined and fields.description %}
            <p class="hero-description typo">
                {{ fields.description|raw }}
            </p>
            {% endif %}

            {% if fields.radio is defined and fields.radio %}
            <div class="hero-actions">
                <span class="thumb"></span>

                {% for radio in fields.radio %}
                    <label class="hero-radio" for="{{ radio.role }}">
                        <input type="radio" name="{{ fields.name }}" {% if loop.first %}checked{% endif %} id="{{ radio.role }}">
                        {{ radio.text }}
                    </label>
                {% endfor %}

            </div>
        </article>
        {% endif %}
    </div>
</div>

{% endblock %}
