{% extends "overall/block-base.twig" %}

{% block block %}

<div class="single-banner-section {% if fields.class %}{{ fields.class }}{% endif %}">
    <div class="single-banner-inner">
        {% if fields.title or fields.links or fields.content %}
        <div class="banner-article">
            {% if fields.title is defined and fields.title %}
                <h3 class="banner-article-title">{{ fields.title }}</h3>
            {% endif %}

            {% if fields.content is defined and fields.content %}
                <div class="typo">
                    {{ fields.content|raw }}
                </div>
            {% endif %}

            {% if fields.links is defined and fields.links %}
                <div class="banner-article-links">
                    {% for link in fields.links %}
                        <a href="{{ link.href }}">
                            <img src="{{ link.icon }}" alt="" />
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endif %}

        {% if fields.img %}
        <div class="banner-image">
            <img src="{{ fields.img }}" alt="{{ fields.title }}">
        </div>
        {% endif %}

        {% if fields.decor %}
            <svg class="banner-decor"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 569.3 430.1">
                <style type="text/css">
                    .single-banner-svg {
                        fill: none;
                        stroke: currentColor;
                        stroke-width: 5;
                        stroke-miterlimit: 10;
                        stroke-dasharray: 2000;
                        stroke-dashoffset: 2000;
                        animation: draw 2s linear forwards;
                        animation-delay: 1.2s;
                    }

                    @keyframes draw {
                        to { stroke-dashoffset: 0; }
                    }
                </style>
                <path class="single-banner-svg" d="M25.8,322.7c-55.8-145.2-4.2-280,77.2-312.4c80.1-31.8,177,40.2,222.8,97.9c80.7,101.8,86.8,265.6,24,307.5
                    c-28.8,19.2-73.8,14.1-99-7.5c-40.9-35-29-112.8-1.5-159c41.5-69.6,125.3-79.3,153-82.5c38.5-4.5,86.7-10,111,18
                    c29.2,33.6-2.5,85,33,159c7.6,15.8,15.8,27.6,21,34.5"/>
            </svg>
        {% endif %}

    </div>
</div>

{% endblock %}
