{% extends "overall/block-base.twig" %}

{% block block %}

{% if fields.tabs is defined and fields.tabs %}
<div class="tab-section {% if fields.class %}{{ fields.class }}{% endif %}">
    <div class="tab-inner">
        {% if fields.decor == 'one' %}
            <svg class="tab-decor-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1954.2 790.7">
                <style type="text/css">
                    .tab-svg {
                        fill: none;
                        stroke: currentColor;
                        stroke-width: 5;
                        stroke-linecap: round;
                        stroke-miterlimit: 10;
                        stroke-dasharray: 4800;
                        stroke-dashoffset: 4800;
                        animation: draw linear forwards;
                        animation-duration: 2s;
                    }

                    @keyframes draw {
                        to { stroke-dashoffset: 0; }
                    }
                </style>
                <path class="tab-svg" d="M1925.4,41c33.7,50.4,34.1,117.8,7,171.1c-28.1,55.2-84.6,87.1-146.2,85.2c-59.5-1.8-119.7-33.8-145.4-89.1
            c-24-51.7-16.6-125.9,42.4-150c49.9-20.3,116.2,3.7,137.3,54.1c21.2,50.4-3.2,110.7-45.9,141.7c-54,39.1-124.9,20.8-179.5-6.5
            c-66.2-33-127.6-87.7-204.9-91c-60.9-2.5-120.9,27.4-159.7,73.9c-19.5,23.2-33,50.9-39.2,80.5c-6.4,32.4-1,70.8,21,96.6
            c24.5,28.7,63.9,26.8,91,2.6c29.8-26.5,36.7-68.3,41.2-105.9c8.7-71.9,8.4-152.1-31.5-215.4c-35.4-56-103.3-97.1-170.5-76.8
            c-76.2,23.1-114.1,101.9-127.3,174.5c-7.2,39.4-9.3,79.6-11.6,119.5c-2.4,40.6-4.6,81.2-8.9,121.7c-8.3,76.7-25,153.4-65,220.3
            c-37.5,62.8-94.3,114.3-166.4,132.1c-67.2,16.7-138.5,5.4-202.2-19.3C481.5,730,410.9,680,340,633.5L112.7,484.6L3.5,413.1"/>
            </svg>
        {% endif %}

        {% if fields.decor == 'two' %}
            <svg class="tab-decor-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1954.2 790.7">
                <style type="text/css">
                    .tab-svg {
                        fill: none;
                        stroke: currentColor;
                        stroke-width: 5;
                        stroke-linecap: round;
                        stroke-miterlimit: 10;
                        stroke-dasharray: 4800;
                        stroke-dashoffset: 4800;
                        animation: draw linear forwards;
                        animation-duration: 2s;
                        animation-delay: 1s;
                    }

                    @keyframes draw {
                        to { stroke-dashoffset: 0; }
                    }
                </style>
                <path class="tab-svg" d="M1925.4,41c33.7,50.4,34.1,117.8,7,171.1c-28.1,55.2-84.6,87.1-146.2,85.2c-59.5-1.8-119.7-33.8-145.4-89.1
            c-24-51.7-16.6-125.9,42.4-150c49.9-20.3,116.2,3.7,137.3,54.1c21.2,50.4-3.2,110.7-45.9,141.7c-54,39.1-124.9,20.8-179.5-6.5
            c-66.2-33-127.6-87.7-204.9-91c-60.9-2.5-120.9,27.4-159.7,73.9c-19.5,23.2-33,50.9-39.2,80.5c-6.4,32.4-1,70.8,21,96.6
            c24.5,28.7,63.9,26.8,91,2.6c29.8-26.5,36.7-68.3,41.2-105.9c8.7-71.9,8.4-152.1-31.5-215.4c-35.4-56-103.3-97.1-170.5-76.8
            c-76.2,23.1-114.1,101.9-127.3,174.5c-7.2,39.4-9.3,79.6-11.6,119.5c-2.4,40.6-4.6,81.2-8.9,121.7c-8.3,76.7-25,153.4-65,220.3
            c-37.5,62.8-94.3,114.3-166.4,132.1c-67.2,16.7-138.5,5.4-202.2-19.3C481.5,730,410.9,680,340,633.5L112.7,484.6L3.5,413.1"/>
            </svg>
        {% endif %}
        <div class="desktop">
            <div class="tab">
            {% for  tab  in fields.tabs %}
                <input type="radio" name="{{ fields.name }}" id="{{ fields.name }}-{{ tab.id }}" {% if loop.index == 2 %}checked{% endif %}/>
                <label class="tab-label" for="{{ fields.name }}-{{ tab.id }}">
                    <span class="tab-title">{{ tab.title }}</span>
                    <span class="tab-thumb"></span>
                    <span class="typo">{{ tab.description }}</span>
                </label>
            {% endfor %}
            </div>

            <div class="gallery">
            {% for  tab  in fields.tabs %}
                <label for="{{ fields.name }}-{{ tab.id }}" class="gallery-label">
                    <img src="{{ tab.img }}" alt="{{ tab.title }}">
                </label>
            {% endfor %}
            </div>
        </div>

        <div class=" mobile">
        {% for  tab  in fields.tabs %}
            <div class="tab-label">
                <span class="tab-title">{{ tab.title }}</span>
                <span class="tab-thumb"></span>
                <span class="typo">{{ tab.description }}</span>
            </div>

            <div class="gallery-label">
                <img src="{{ tab.img }}" alt="{{ tab.title }}">
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
